﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewPage<OxLet.Core.Web.ViewModels.OxletModelList<OxLet.Blog.Models.Post>>" %>
<%@ Import Namespace="OxLet.Core.Web.Extensions" %>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
	<% Html.RenderPartialFromSkin("RssChannel", Model); %>
</rss>

