﻿<div id="syndicateheader" class="syndicateheader">
	<a href="http://feeds.feedburner.com/AlehZasypkin" class="rssLinkStyle">
		<span title="Rss 2.0 via FEED">&nbsp;</span>
	</a>
	<a href="http://feeds.feedburner.com/AlehZasypkin">
		<img width="88" height="26" alt="" style="border: 0" src="http://feeds.feedburner.com/~fc/AlehZasypkin?bg=FF6600&fg=FFFFFF&anim=0"></a>
</div>
