﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewUserControl<OxLet.Core.Web.ViewModels.OxletModel>" %>
<%@ Import Namespace="OxLet.Core.Web.Extensions" %>
<% Html.RenderScriptTag("JQuery/jquery-1.6.2.min.js", "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js"); %>