﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="System.Web.Mvc.ViewUserControl<OxLet.Core.Web.ViewModels.OxletModel>" %>
<%@ Import Namespace="OxLet.Core.Web.Extensions" %>
<% Html.RenderScriptTag("Framework/Oxlet.Combined.js", "Framework/Oxlet.Combined.min.js"); %>