﻿
/* ICON BUTTONS
----------------------------------------------------------*/
a.ibutton {
    outline:none;
}
input.ibutton,
a.ibutton img,
img.ui-datepicker-trigger {
    background:none;
    border:none;
    padding:2px;
}
img.ui-datepicker-trigger {
    margin-bottom:-5px;
}
input:hover.ibutton,
a:hover.ibutton img,
img:hover.ui-datepicker-trigger {
    background:none;
    border:1px solid;
    padding:1px;
}
input.ibutton.remove,
a.ibutton.remove img {
    border-color:#E6554B;
}
input.ibutton.edit,
a.ibutton.edit img {
    border-color:#F7DF62;
}
input.ibutton.add,
a.ibutton.add img {
    border-color:#87B960;
}
input.ibutton.approve,
a.ibutton.approve img {
    border-color:#7CBB65;
}
img:hover.ui-datepicker-trigger {
    border-color:#FFBD79;
}
.admin.buttons {
    text-align:right;
}
.admin.manage.buttons {
    float:right;
}
.admin.buttons form {
    display:inline;
    margin:0;
    padding:0;
}
.admin.buttons form fieldset {
    display:inline;
    margin:0 0 -4px;
}

/* COMMENT STATE
----------------------------------------------------------*/
ul.comments .comment.pendingapproval .state {
    float:right;
    display:block;
    text-indent:-9999px;
    width:16px;
    overflow:hidden;
    background:url(images/asterisk_yellow.png) no-repeat 0 50%;
    margin-right:5px;
}

/* DASHBOARD
----------------------------------------------------------*/
#dashboard ul#data,
#dashboard ul#settings {
    overflow:hidden;
    width:100%;
    margin:0;
}

#dashboard ul#data ul,
#dashboard ul#settings ul {
    margin-left:0;
}
#dashboard ul#data li,
#dashboard ul#settings li {
    list-style-type:none;
    margin:0;
}
#dashboard ul#data h3,
#siteSettings h3,
#dashboard ul#settings h3 {
    border-bottom:3px solid;
}
#dashboard ul#data .more {
    text-align:right;
    clear:both;
}
#dashboard ul#data li#recentPosts,
#dashboard ul#data li#recentComments {
    width:49%;
}
#dashboard ul#data li#recentPosts {
    float:right;
}

#dashboard ul#data li#recentPosts li {
   clear:both;
}

#dashboard ul#data li#recentComments {
    float:left;
}
#dashboard ul#data .more {
    font-size:88%;
    text-transform:lowercase;
}
#dashboard ul#settings li#manageSite,
#dashboard ul#settings li#manageAreas,
#dashboard ul#settings li#manageUsers {
    width:32%;
}
#dashboard ul#settings li#manageSite,
#dashboard ul#settings li#manageAreas {
    float:left;
    margin-right:2%;
}
#dashboard ul#settings li#manageUsers {
    float:right;
}
#dashboard ul#settings li#manageSite li,
#dashboard ul#settings li#manageAreas li,
#dashboard ul#settings li#manageUsers li {
    display:inline;
    background:url(images/bullet_grey.png) no-repeat 1px 1px;
    padding:0 0 0 17px;
}

/* SOME ADMIN STUFF
----------------------------------------------------------*/
.sub.admin.manage ul {
    margin:0;
}
.sub.admin.manage ul li {
    list-style-type:none;
    margin:.2em 0;
}

/* COLORS
----------------------------------------------------------*/
#dashboard ul#data h3,
#siteSettings h3,
#dashboard ul#settings h3 {
    border-color:#f0f0f0;
}
.post .metadata.admin .hinted,
.post .metadata.admin input.text.active {
    border-color:#fff;
}

#dashboard .highlight h3 {
    border-color:#dc2525 !important;
}

.post .metadata.admin {
    background-color: #F0F0F0;
    color: #000000;
    margin-bottom: 10px;
    padding: 5px 7px;
}

.post .metadata.admin ul {
    float: left;
    margin: 2px 0 0;
}

.post .admin.buttons input.submit, .post .admin.buttons button, .post .admin.buttons input.cancel {
    height: 27px;
}
.post .admin.buttons input.submit, .post .admin.buttons input.cancel {
    font-size: 110%;
    width: 12ex;
}

.post .admin.buttons .button, .post .admin.buttons button {
    margin: 0 0 0 5px;
}

.post .metadata.admin .admin.buttons {
    float: right;
    margin: 0;
}

.admin.buttons {
    text-align: right;
}

.post .metadata.admin ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

.post .metadata.admin fieldset {
    display: inline;
    margin: 0 0 -7px;
    padding: 0 5px 4px;
}

.post .metadata.admin input.date {
    background-color: #F0F0F0;
    border: medium none;
    color: #9CADBF;
}

.post .metadata.admin .hinted, .post .metadata.admin input.text.active {
    border-color: #FFFFFF;
}