* {
  margin: 0; }

html {
  background: none repeat scroll 0 0 #181818;
  height: 100%; }

body {
  font-family: "segoe ui", tahoma, verdana, "lucida grande", "lucida sans unicode", sans-serif;
  font-size: 0.76em;
  margin: 0 auto;
  height: 100%; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  color: #111111;
  outline: 0 none;
  vertical-align: baseline; }

strong {
  font-weight: bold; }

header {
  margin: 10px 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.push, footer[role="contentinfo"] {
  height: 26px; }

footer[role="contentinfo"] {
  background: none repeat scroll 0 0 #181818;
  width: 70%;
  margin: 0 auto 0px; }
  footer[role="contentinfo"] p {
    color: #A9A9A9; }
  footer[role="contentinfo"] a {
    color: #FFFF00; }

.entry-title {
  margin-bottom: 0.5em; }

article.main p {
  text-indent: 10px; }

fieldset input.mandatory, fieldset textarea.mandatory {
  background-color: #FFFFCC; }

input[type="submit"], input[type="text"] {
  line-height: normal !important; }

a.crumblink {
  color: #545557; }

/*#endregion*/
/*#region Content styles*/
#content {
  background: none repeat scroll 0 0 snow;
  border-top: 0 none;
  clear: both;
  width: 70%;
  min-width: 830px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto -26px;
  overflow: hidden; }
  #content .contentHolder {
    padding: 0px 1em 1em 1em;
    float: left;
    width: 75%;
    margin-bottom: 1em; }
  #content .sideItem, #content aside nav li a, #content aside nav div {
    position: relative;
    padding-left: 15px;
    font-style: italic;
    color: #545557; }
  #content aside {
    float: left;
    width: 20%;
    margin: 15px 0.2em 10px 0.2em; }
    #content aside #search_term {
      width: 75%; }
    #content aside nav li {
      float: none; }
      #content aside nav li a {
        display: block; }
      #content aside nav li .icon, #content aside nav li .postIcon, #content aside nav li .collapsed, #content aside nav li .expanded {
        position: absolute;
        left: 0; }

#content aside section, #content aside div {
  clear: both; }

/*#endregion*/
.icon, .postIcon, .collapsed, .expanded {
  background-image: url("/images/sprite.png");
  width: 16px;
  height: 16px; }

.postIcon {
  background-position: -40px -60px; }

.collapsed {
  background-position: -20px -60px; }

.expanded {
  background-position: 0px -60px; }

section.expandable h2 > span {
  margin-top: 5px;
  cursor: pointer; }

section span.switch {
  display: block;
  float: left; }

/*#endregion*/
/*#region Main navigation styles*/
nav.main {
  float: left;
  width: 100%;
  padding-top: 20px;
  background: none repeat scroll 0 0 #181818; }
  nav.main li {
    background-color: #444444;
    background-position: 0 0;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 45px; }
  nav.main li.selected {
    background-color: snow;
    border-bottom-color: snow;
    cursor: default; }

nav.main ul li:not(.selected):hover {
  background: none repeat scroll 0 0 #111111;
  color: #FFFFFF;
  border-bottom: 2px solid orange; }

nav.main li a {
  text-decoration: none !important;
  color: #FFFFFF;
  display: block;
  font-size: 170%;
  padding: 7px 10px 0px 10px;
  width: 100%;
  height: 100%; }

nav.main li.selected a {
  color: #000000;
  cursor: default; }

ul.languageBar li a {
  padding: 5px 10px 0px 10px; }

.syndicateheader {
  float: left;
  margin: 5px 5px 5px 10px; }

.syndicateheader .rssLinkStyle span {
  background: url("/images/sprite.png") no-repeat;
  background-position: -112px 0px;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 5px; }

/*#endregion*/
/*#region Navigation styles*/
nav ul {
  list-style: none outside none; }

nav li {
  display: block;
  float: left;
  width: auto; }

/*#endregion*/
/* #region Blog */
#content .blog section {
  clear: both;
  padding: 0px 0px 40px 0px; }

/* #endregion */
/* #region Contact */
div .contactStatus {
  text-align: center; }

div .contactStatus p.failed {
  color: red; }

div .contactStatus p.successfull {
  color: green; }

.socialContacts span {
  background: url("/images/sprite.png") no-repeat;
  background-position: -120px 0px;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 5px; }

.socialContacts span.twitter {
  background-position: -90px -80px; }

.socialContacts span.gmail {
  background-position: 0px -80px; }

.socialContacts span.linkedin {
  background-position: -30px -80px; }

.socialContacts span.skype {
  background-position: -60px -80px; }

/* #endregion */
/* #region Language bar */
ul.languageBar {
  float: right; }

ul.languageBar li span {
  width: 48px;
  height: 40px;
  display: block;
  background: url("/images/sprite.png") no-repeat; }

ul.languageBar span.en {
  background-position: -60px -40px; }

ul.languageBar span.ru {
  background-position: -60px 0px; }

/* #endregion */
/* LOGIN FORM
----------------------------------------------------------*/
div.logincontainer {
  margin: 1% auto 1% auto;
  width: 60ex; }

form.login div {
  margin: 0 0 1em 5px; }

form.login div.submit {
  margin-bottom: 0; }

form.login label {
  display: block; }

form.login .remember label {
  display: inline; }

form.login input.text {
  width: 42ex; }

form.login label {
  color: #727272; }

input.text, textarea, input.text.active, textarea.active {
  background-color: #FFFFFF;
  border-color: #F0F0F0; }

form input.button, form button, .post input.submit.button, .post button {
  background-color: #EBEBEB;
  border-color: #E0E0E0;
  color: #373737; }

form input.button, form button, .post input.submit.button, .post button {
  border: 1px solid;
  margin: 0;
  outline: medium none; }

input, textarea, button {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E0E0E0;
  padding: 0.2em; }

/* HEADINGS   
----------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .2em;
  font-weight: bold; }

h1 {
  font-size: 180%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 130%; }

h4 {
  font-size: 110%; }

h5, h6 {
  font-size: 100%; }

.validation-summary-errors {
  border: 1px solid #E76757;
  background: #fad9d3 url(images/exclamation.png) no-repeat 9px 9px;
  font-weight: bold;
  color: #BF4329;
  text-transform: capitalize;
  padding: 8px 24px 8px 34px;
  margin: 1.8em 0; }

.field-validation-error {
  color: #BF4329;
  display: block;
  font-size: 85%;
  font-style: italic; }

.field-validation-error span {
  color: #BF4329; }

.input-validation-error {
  border: 1px solid; }

/* PAGER
----------------------------------------------------------*/
.pageState {
  margin: 0 0.6em 0.6em;
  font-style: italic;
  text-align: right; }

.pager {
  height: 2.2em;
  margin-top: 1.6em;
  margin-right: 0.6em; }

.pager a {
  padding: .4em 1ex;
  border: 1px solid #D8DFE4;
  margin: 0 0 0 6px;
  display: block;
  float: right; }

.pager a:hover {
  text-decoration: none;
  background-color: #F5F7F8; }

/* TAGS
----------------------------------------------------------*/
ul.tags {
  display: inline;
  margin: 0; }

.posts ul.tags li {
  padding: 0 0 0 16px;
  /*background-position:0 0;*/ }

ul.tags li {
  padding: 0 0 0 17px;
  list-style-type: none;
  margin: 0;
  display: inline;
  background: url("/images/sprite.png") no-repeat;
  background-position: 0px -106px; }

ul.tags li.first {
  padding: 0;
  background-image: none; }

.post .metadata {
  padding: 2px 5px 2px 0;
  clear: both;
  margin: 0 0 5px;
  font-size: 90%;
  overflow: hidden; }

.post .metadata {
  color: #777; }

.post .metadata .posted {
  margin: 0;
  float: right; }

/* COMMENT LIST(S)
----------------------------------------------------------*/
ul.comments.small {
  margin: 0; }

ul.comments.small li {
  padding: .2em 5px .3em;
  list-style-type: none; }

ul.comments.small p {
  margin: .9em 0; }

ul.comments.small span.name {
  font-weight: bold;
  font-size: 90%; }

ul.comments.small .when {
  font-size: 88%;
  font-style: italic; }

ul.comments.small .post {
  font-weight: bold;
  font-style: italic;
  margin: .4em 0 0; }

ul.comments.small .post,
ul.comments.small .text {
  padding: 0; }

ul.comments.medium {
  margin: 0;
  color: #555;
  overflow: hidden; }

ul.comments.medium li {
  list-style-type: none;
  padding: 1.2em 0px 1.2em 0px;
  position: relative; }

ul.comments.medium li.first {
  margin-top: .25em; }

ul.comments.medium li.last {
  margin-bottom: 0; }

ul.comments.medium li .name {
  width: 100ex;
  margin: 0 0 .25em; }

ul.comments.medium li .name,
ul.comments.medium li .name .gravatar {
  float: left; }

ul.comments.medium li .name p {
  padding: 0 0 0 2ex;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; }

ul.comments.medium li .text {
  clear: both;
  overflow: hidden;
  margin-left: 70px; }

/* POST COMMENTS
----------------------------------------------------------*/
#comments,
#comments form#comment {
  margin: 1.6em 0 0;
  padding: 1.6em 0 0;
  border-top: 1px solid #F0F0F0;
  position: relative; }

#comments .status {
  position: absolute;
  top: 1em;
  right: 5px;
  text-align: right;
  z-index: 42; }

#comments .status.empty {
  position: static; }

#comments .status h3 {
  margin-top: 0; }

#comments form#comment {
  clear: both; }

#comments form.user fieldset {
  float: none; }

#comments fieldset {
  float: left; }

#comments fieldset legend {
  display: none; }

#comments fieldset label,
#comments fieldset .help {
  display: block; }

#comments fieldset .remember,
#comments fieldset .subscribe {
  padding: 0 2ex 0 0; }

#comments fieldset .remember,
#comments fieldset .subscribe,
#comments fieldset .remember label,
#comments fieldset .subscribe label {
  display: inline; }

#comments fieldset input.text {
  width: 90%; }

#comments fieldset textarea {
  width: 99%;
  height: 20em;
  margin: 0 0 .5em; }

#comments fieldset textarea.authed {
  width: 99.3%; }

#comments fieldset.info {
  width: 40%; }

#comments fieldset.comment {
  width: 60%; }

#comments form.user fieldset.comment {
  width: auto; }

#comments fieldset.info div {
  margin: 0 0 1em; }

#comments fieldset.info div.submit {
  margin-top: 1em; }

#comments form.user fieldset div.submit {
  margin: .5em 0 0; }

#comments fieldset.info #comment_grav {
  margin: 0 0 .2em;
  overflow: hidden;
  float: left; }

#comments fieldset.info .gravatarhelp {
  overflow: hidden; }

#comments fieldset.info .name {
  clear: left; }

#comments fieldset .help {
  display: none; }

a, a:link, #header h1 a:hover, .posts .more a.arrow, .posts .more a.arrow:link {
  text-decoration: none; }

a:hover, a:active, .posts .more a, .posts .more a:link {
  text-decoration: underline; }

ul.posts.medium .posted {
  margin-top: 1em;
  border-color: #F0F0F0;
  float: right; }

ul.posts.medium .posted, ul.posts.small .info {
  text-align: right; }

ul.posts.small .info {
  float: right; }

ul.posts.small .meta {
  float: left; }

ul.posts h2.title {
  line-height: 1.2em;
  margin: 0 0 0.15em 0;
  float: left; }

ul.posts h2.title a {
  color: #545557; }

h2 span, h3 span, h4 span, h5 span, h6 span, .hinted, .posts .more, .posts .posted, #logindisplay .logout a {
  color: #8D8D8D; }

ul.posts .content {
  border-top: 2px solid #F0F0F0;
  clear: both;
  padding: 1.1em 0 0 0px; }

.content {
  margin: 1.1em 0 0.8em; }

ul.posts .more {
  margin: 1em 0 0 0px;
  white-space: nowrap; }

ul.posts .posted, ul.posts .more, ul.posts.small .comments {
  font-size: 70%; }

ul.posts.medium li {
  list-style-type: none;
  margin: 0.1em 0 2.8em; }

.flags form {
  float: left; }

/*#region Not found styles*/
p.notFound {
  font-size: 200%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

/*#endregion*/
/* COLORS
----------------------------------------------------------*/
.post .metadata.admin .hinted,
.post .metadata.admin input.text.active {
  border-color: #fff; }

input.text,
textarea {
  background-color: #fff;
  border-color: #b8b8b8; }

form label {
  display: block; }

form div {
  margin: 0 0 1em 5px; }

form .hinted {
  display: block;
  font-size: 88%;
  font-style: italic; }

form label.checkbox, form label.radio {
  display: inline; }

form input.button,
form button,
.post input.submit.button,
.post button {
  border-color: #e0e0e0;
  color: #373737;
  background-color: #ebebeb; }

form input:hover.button,
form button:hover,
.post input:hover.submit.button,
.post button:hover {
  color: #373737;
  background-color: #e0e0e0;
  border-color: #d3d3d3; }

.post .gravatar {
  float: left;
  margin: 0 8px 8px 0; }

.title label, .post .content label, .post li.input.type label, .post li.input.publish label, .post .metadata.admin legend, .post .metadata.admin .tags label, .post .metadata.admin .slug label {
  display: none; }

.post #post_bodyShort {
  height: 10em; }

.post #post_body, .post #post_bodyShort, .post #page_body {
  margin: 0 0 5px;
  width: 99.3%; }

.post.addPost #post_title, .post.editPost #post_title {
  width: 99.1%; }

.hinted {
  background-color: #FDFDFD;
  color: #727272; }

.post .metadata.admin ul li {
  display: inline;
  list-style-type: none;
  margin: 0; }

.post .metadata.admin fieldset {
  display: inline;
  margin: 0 0 -7px;
  padding: 0 5px 4px; }

.post #post_published {
  width: 22ex; }

.post li.input.publish label.radio {
  display: inline; }

.post .single #post_tags {
  width: 110ex; }

footer p {
  text-align: center; }

.comments .comment div.text {
  word-wrap: break-word;
  margin: auto 5px auto 5px; }

.comments .comment span.date {
  display: block; }

/*#region Contact */
.socialContacts a {
  text-decoration: none; }

.contact fieldset {
  float: left; }

.contact fieldset.info {
  width: 40%; }

.contact fieldset.message {
  width: 60%; }

.contact fieldset legend {
  display: none; }

.contact fieldset.info div {
  margin: 0 0 1em; }

.contact fieldset .remember,
.contact fieldset .subscribe,
.contact fieldset .remember label,
.contact fieldset .subscribe label {
  display: inline; }

.contact fieldset label,
.contact fieldset .help {
  display: block; }

.contact fieldset .remember,
.contact fieldset .subscribe {
  padding: 0 2ex 0 0; }

.contact fieldset input.text {
  width: 90%; }

.contact fieldset.info div.submit {
  margin-top: 1em; }

.contact fieldset textarea {
  height: 14em;
  margin: 0 0 0.5em;
  width: 99%; }

/* #endregion */
/*#region Login */
#logindisplay {
  padding-top: 1.1em; }

#logindisplay a {
  text-transform: lowercase; }

#logindisplay span.username {
  font-weight: bold;
  color: #D3D3D3; }

#logindisplay a:hover,
#logindisplay .logout a:hover {
  color: #dc2525; }

#logindisplay .logout a {
  color: #8d8d8d; }

#logindisplay a {
  color: #b8b8b8; }

#logindisplay {
  color: #727272; }

#logindisplay .login {
  color: #e0e0e0; }

#logindisplay .logout {
  color: #d3d3d3; }

/*#endregion */
.loading {
  background-color: #000000;
  opacity: 0.7;
  background: transparent url("/images/ajax-loader.gif") no-repeat center center; }

form#search input[type="submit"] {
  float: right; }

input[type="submit"]::-moz-focus-inner {
  border: 0; }
